@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    color: #000; /* Ensure text color is visible against a white background */
    font-size: 1.75rem; /* Adjust font size as needed */
    width: 65vw; /* Set the width to 65% of the viewport */
    height: 85vh; /* Set the width to 65% of the viewport */
    overflow: hidden; /* Hide the overflow */
    position: relative; /* Position relative for the absolute positioned credits */
    line-height: 1.5; /* Add more line height for better readability */
    pointer-events: none; /* This will make the button non-interactive */
  }

  .rock-text {
    color: hsl(349, 71%, 52%); /* Color for rock */
  }
  
  .paper-text {
    color: hsl(230, 89%, 62%); /* Color for paper */
  }
  
  .scissors-text {
    color: hsl(39, 89%, 49%); /* Color for scissors */
  }

  @keyframes scrollCredits {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  .credits-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 80%; /* Set max-width to 50% of the modal-content width */
    margin: 0 auto; /* Center the container */
    margin-left: 6rem;
    animation: scrollCredits 30s linear infinite; /* Adjust time as needed */
  }

  .credits-container h2 {
    font-family: "Orbitron", sans-serif; /* Apply the Orbitron font family */
    margin-bottom: 1rem; /* Add space below the heading */
    font-size: 2.4375rem; /* Changed from 39px to a relative unit */
    text-transform: uppercase; /* Uppercase the text */
  }

  .credits-container p,
  .credits-container ul {
    margin-bottom: 1rem; /* Add space below paragraphs and lists */
    text-align: justify; /* Justify text for better readability */
  }

  .credits-container li {
    margin-bottom: 0.5rem; /* Add space below list items */
  }

  .credits-container .close-button {
    margin-top: 2rem; /* Add space above the close button */
    padding: 0.5rem 1rem; /* Add padding to the button */
    font-size: 1rem; /* Adjust font size for the button */
    text-transform: uppercase; /* Uppercase the button text */
    letter-spacing: 1px; /* Add letter spacing to the button text */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    border: 1px solid white; /* Add border to the button */
    background: none; /* Remove any background from the button */
    color: white; /* Set the button text color */
  }